@model Proyeto.Models.EstudiosRealizadosModel

@{
    ViewData["Title"] = "Estudios Realizados";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<style>
    /* Additional custom styles can be added here */
    body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
    }

    .card-body {
        padding: 20px;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-bottom: 10px;
    }

    .btn-group {
        margin-top: 10px;
    }

    .table-bordered {
        border-collapse: collapse;
        width: 100%;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #dee2e6;
            padding: 8px;
            vertical-align: middle;
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>Estudios Realizados</h4>
            <hr />
            <table class="table table-bordered">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdEstudiosRealizados)</th>
                    <td>@Html.DisplayFor(model => model.IdEstudiosRealizados)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Matri_NoEmpl)</th>
                    <td>@Html.DisplayFor(model => model.Matri_NoEmpl)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NombreCurso)</th>
                    <td>@Html.DisplayFor(model => model.NombreCurso)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Duracion)</th>
                    <td>@Html.DisplayFor(model => model.Duracion)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Institucion)</th>
                    <td>@Html.DisplayFor(model => model.Institucion)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                    <td>@Html.DisplayFor(model => model.Descripcion)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UrlDocumento)</th>
                    <td><a target="_blank" href="@Model.UrlDocumento">Descargar Documento</a></td>
                </tr
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Autor1)</th>
                    <td>@Html.DisplayFor(model => model.Autor1.Nombre)</td>
                </tr>
            </table>
            <div class="btn-group">
               @Html.ActionLink("Editar", "Editar", new { id = Model.IdEstudiosRealizados }, new { @class = "btn btn-primary" })
                <span style="margin-right: 10px;"></span>
                <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
            </div>

        </div>
    </div>
</div>




