@model Proyeto.Models.MateriaImpartidaModel

@{
    ViewData["Title"] = "Detalle de Materia Impartida";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/footerFelcidades.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .table {
            margin-top: 20px;
        }

        .btn-action {
            margin-right: 10px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>Materia Impartida</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Matrícula</th>
                                <td>@Html.DisplayFor(model => model.Matricula)</td>
                            </tr>
                            <tr>
                                <th>Carrera</th>
                                <td>@Html.DisplayFor(model => model.CarreraModel.Nombre)</td>
                            </tr>
                            <tr>
                                <th>Materia</th>
                                <td>@Html.DisplayFor(model => model.MateriaAdmin.NombreMat)</td>
                            </tr>
                            <tr>
                                <th>Grupo</th>
                                <td>@Html.DisplayFor(model => model.Grupo)</td>
                            </tr>
                            <tr>
                                <th>Fecha del Cuatrimestre</th>
                                <td>@Html.DisplayFor(model => model.FechaCuatri)</td>
                            </tr>
                            <tr>
                                <th>Documento</th>
                                <td><a target="_blank" href="@Model.UrlDocumento">Descargar Documento</a></td>
                            </tr>
                            <tr>
                                <th>ID de Autor</th>
                                <td>@Html.DisplayFor(model => model.IdAutor1)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-left">
                    <a asp-action="Editar" class="btn btn-info btn-action" asp-route-id="@Model.IdMateria">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary btn-action">Regresar a la lista</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


