@model Proyeto.Models.AdminMateriaModel

@{
    ViewData["Title"] = "Detalles de Materia";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .card {
            margin: 20px auto;
            max-width: 600px;
            border: none;
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
            text-align: center;
        }

        .card-body {
            padding: 20px;
        }

        /* Added border styles for the table */
        table {
            border: 2px solid #dee2e6;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dee2e6;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Detalles de Materia
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.IdAdminMateria)</th>
                        <td>@Html.DisplayFor(model => model.IdAdminMateria)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NombreMat)</th>
                        <td>@Html.DisplayFor(model => model.NombreMat)</td>
                    </tr>
                </table>
                <div class="mt-3">
                    @Html.ActionLink("Editar", "Editar", new { id = Model.IdAdminMateria }, new { @class = "btn btn-primary btn-sm" })
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Regresar a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
