@model Proyeto.Models.CuatriModel

@{
    ViewData["Title"] = "Detalle Cuatri";
}

<link rel="stylesheet" href='~/css/StyleSheet1.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href='~/css/footerFelcidades.css' />



<div class="row">
    <h4>Cuatri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuatrimestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCuatrimestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCuatri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCuatri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlDocumento)
        </dt>
        <dd class = "col-sm-10">
            <a target="_blank" href="@Model.UrlDocumento">Descargar Documento</a>          
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutor1)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.IdCuatrimestre}) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
