@model Proyeto.Models.CuatriModel

@{
    ViewData["Title"] = "Eliminar Cuatri";
}

<link rel="stylesheet" href='~/css/StyleSheet1.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href='~/css/footerFelcidades.css' />


<h3>¿Estas seguro que deseas eliminar Cuatrimestre?</h3>

<div>
    <h4>Cuatri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuatrimestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCuatrimestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCuatri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCuatri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutor1)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>

