@model Proyeto.Models.UsuarioModel

@{
    ViewData["Title"] = "Detalle usuario";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/footerFelcidades.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .table-bordered {
            border: 1px solid #dee2e6;
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h4>Detalle Usuario</h4>
        <hr />
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.NombreUsuario)</th>
                            <td>@Html.DisplayFor(model => model.NombreUsuario)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Correo)</th>
                            <td>@Html.DisplayFor(model => model.Correo)</td>
                        </tr>
                       

                        <!-- Resto de campos del detalle del usuario -->

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.Nombre)</th>
                            <td>@Html.DisplayFor(model => model.Autor.Nombre)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.ApePaterno)</th>
                            <td>@Html.DisplayFor(model => model.Autor.ApePaterno)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.ApeMaterno)</th>
                            <td>@Html.DisplayFor(model => model.Autor.ApeMaterno)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.Matricula)</th>
                            <td>@Html.DisplayFor(model => model.Autor.Matricula)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.NumEmpleado)</th>
                            <td>@Html.DisplayFor(model => model.Autor.NumEmpleado)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.TipoCuenta)</th>
                            <td>@Html.DisplayFor(model => model.Autor.TipoCuenta)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.NumTelefono)</th>
                            <td>@Html.DisplayFor(model => model.Autor.NumTelefono)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.FechaNaci)</th>
                            <td>@Html.DisplayFor(model => model.Autor.FechaNaci)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.CuerpoAcademico)</th>
                            <td>@Html.DisplayFor(model => model.Autor.CuerpoAcademico)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Autor.AreaEstudios)</th>
                            <td>@Html.DisplayFor(model => model.Autor.AreaEstudios)</td>
                        </tr>



                        @Html.HiddenFor(model => model.Autor.IdNivelEstudios1)

                        <!-- Agrega aquí los demás campos del autor -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <a asp-action="Editar" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary">Regresar a la lista</a>
            </div>
        </div>
    </div>
</body>
</html>
