@model Proyeto.Models.UsuarioModel

@{
    ViewData["Title"] = "Eliminar usuario";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="~/css/footerFelcidades.css" />
    <style>
        /* Additional custom styles can be added here */
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
        }

        .btn-action {
            margin-right: 10px;
        }

        .user-info-table {
            width: 100%;
            border: 1px solid #ddd;
            border-collapse: collapse;
        }

            .user-info-table th,
            .user-info-table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            .user-info-table th {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <div class="container">
        <h3>¿Estás seguro que deseas eliminar este Usuario?</h3>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>Eliminar Usuario</h4>
                <hr />
                <table class="user-info-table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NombreUsuario)</th>
                        <td>@Html.DisplayFor(model => model.NombreUsuario)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Correo)</th>
                        <td>@Html.DisplayFor(model => model.Correo)</td>
                    </tr>


                    <!-- Resto de campos del detalle del usuario -->

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Autor.Nombre)</th>
                        <td>@Html.DisplayFor(model => model.Autor.Nombre)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Autor.ApePaterno)</th>
                        <td>@Html.DisplayFor(model => model.Autor.ApePaterno)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Autor.ApeMaterno)</th>
                        <td>@Html.DisplayFor(model => model.Autor.ApeMaterno)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Autor.Matricula)</th>
                        <td>@Html.DisplayFor(model => model.Autor.Matricula)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Autor.NumEmpleado)</th>
                        <td>@Html.DisplayFor(model => model.Autor.NumEmpleado)</td>
                    </tr>
                </table>
                <form asp-action="Eliminar">
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-action" /> 
                    <a asp-action="Index" class="btn btn-secondary btn-action">Regresar a la lista</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


