@model Proyeto.Models.AutorModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<link rel="stylesheet" href='~/css/footer.css' />

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApePaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApePaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApeMaterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeMaterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNaci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNaci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuerpoAcademico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuerpoAcademico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaEstudios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaEstudios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelEstudios1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelEstudios1.NivelEstudiosId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAutor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
